:root {
    --background-clr: #2c2c2c;
    --primary-clr: #d0f0c0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
    background-color: var(--background-clr);
}

.content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 59px
}

.grids {
    /* display: grid;
    width: 500px;
    height: 500px;
    background-color: var(--secondary-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    background-color: white;
    height: 640px;
    width: 640px;
    filter: drop-shadow(0px 0px 4px #000000);
    display: grid;
}

.setting {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}


input[type='color'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    appearance: none;
    background-color: transparent;
    width: 150px;
    height: 150px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
  }

input[type='color']:hover {
    transform: scale(1.05);
} 
  
  
input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 4px #272727);
}

input[type='color']::-moz-color-swatch {
    border: none;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 4px #272727);
  }

.range {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
}


.range input {
    appearance: none;
    height: 8px;
    flex: 1;
    margin-right: 20px;
    background-color: #ddd;
    border-radius: 5px;
    outline: none;
    border: none;
}

.range .sliderValue {
    background-color: var(--primary-clr);
    padding: 5px;
    font-weight: 600;
    border-radius: 10px;
}

.pixelPicker {
    width: 80px;
    accent-color: var(--primary-clr);
    cursor:col-resize;
  }

.clear-btn,
.rainbow-btn {
    align-self: stretch;
    position: relative;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: white;
    transition: transform 0.1s ease-in-out;
}

.hover-btn:hover {
    background-color: rgb(224, 224, 224);
    transform: scale(1.05);
}

.rainbow::before {
    content: " ";
    position: absolute;
    width: 300%;
    height: 1200%;
    background: conic-gradient(
        #fd004c,
        #fe9000,
        #fff020,
        #3edf4b,
        #3363ff,
        #b102b7,
        #fd004c
    );
    left: -100%;
    top: -560%;
    animation: spin 1.5s infinite;
    border-radius: 10px;
}

.rainbow-btn {
    overflow: hidden;
}

.rainbow::after {
    content: "Rainbow";
    position: absolute;
    display: grid;
    place-items: center;
    background-color: white;
    height: 85%;
    width: 97%;
    top: 5.5%;
    left: 1.5%;
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: center;
    position: absolute;
    padding-bottom: 10px;
    width: 100vw;
    gap: 10px
}

footer p {
    color: white;
}

a {
    text-decoration: none;
}

i {
    color: white;
}

@keyframes spin {
    100%{
        transform: rotate(-360deg);
    }
}
  
